name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      db:
        image: mysql:5.7
        ports:
        - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_TABLE: gopherbank
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v3
    - name: Start server
      run: go run .
    - name: Test
      run: go test -v ./...
      env:
        MYSQL_HOST: localhost
        POSTGRS_PORT: 3306
